@-webkit-keyframes fadeIn {
0% {
opacity: 0; /*初始状态 透明度为0*/
}

100% {
opacity: 1; /*结尾状态 透明度为1*/
}

}

#in {      
    height: 100%;
    animation: fadeIn;/*动画名称*/    
    animation-duration: 1s;/*动画持续时间*/    
    -webkit-animation:fadeIn 1.5s;/*针对webkit内核*/    
}






